
# macOS
.DS_Store

# local config
config/local.yaml
config/prod.yaml
*.env

# local database
storage/storage.db

# build artifacts
url-shortener
bin/

# test binaries and coverage
tests/
*.test
coverage.out