name: Deploy to EC2 (Amazon Linux)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HOST: ec2-user@3.20.232.64
      DEPLOY_DIRECTORY: /opt/url-shortener
      CONFIG_PATH: /opt/url-shortener/prod.yaml
      ENV_FILE_PATH: /opt/url-shortener/config.env

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build binary
        run: |
          go mod download
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
          go build -o url-shortener ./cmd

      - name: Install SSH tools
        run: sudo apt-get update && sudo apt-get install -y ssh rsync

      - name: Prepare SSH key
        run: |
          echo "$DEPLOY_SSH_KEY" > deploy_key.pem
          chmod 600 deploy_key.pem
        env:
          DEPLOY_SSH_KEY: ${{ secrets.DEPLOY_SSH_KEY }}

      - name: Create remote directory
        run: |
          ssh -i deploy_key.pem -o StrictHostKeyChecking=no $HOST \
          "mkdir -p $DEPLOY_DIRECTORY"

      - name: Upload binary
        run: |
          rsync -avz -e "ssh -i deploy_key.pem -o StrictHostKeyChecking=no" \
          url-shortener $HOST:$DEPLOY_DIRECTORY/

      - name: Upload prod config
        run: |
          rsync -avz -e "ssh -i deploy_key.pem -o StrictHostKeyChecking=no" \
          config/prod.yaml $HOST:$DEPLOY_DIRECTORY/

      - name: Create environment file
        run: |
          ssh -i deploy_key.pem -o StrictHostKeyChecking=no $HOST "\
          echo 'CONFIG_PATH=$CONFIG_PATH' > $ENV_FILE_PATH && \
          echo 'HTTP_SERVER_PASSWORD=${{ secrets.AUTH_PASS }}' >> $ENV_FILE_PATH && \
          chmod 600 $ENV_FILE_PATH"

      - name: Restart service
        run: |
          ssh -i deploy_key.pem -o StrictHostKeyChecking=no $HOST "\
          sudo systemctl daemon-reload && \
          sudo systemctl restart url-shortener.service"
